<nav class="navbar navbar-expand-md navbar-light bg-faded">
    <a class="navbar-brand">iRecognition</a>
  
    <div class="collapse navbar-collapse" >
      <div class="navbar-nav">
          <a class="nav-item nav-link" routerLink="/upload-person" routerLinkActive="active">Upload Person </a>
          <a class="nav-item nav-link" routerLink="/search-person" routerLinkActive="active">Search Person</a>
          <a class="nav-item nav-link" routerLink="/check-person" routerLinkActive="active">Check Person</a>
      </div>
    </div>

</nav>