<div class="container m-5 mx-auto">
    <div class="row">
        <div class="col ">
            <label for="checkPersonImage">Upload image</label>
            <input type="file"  class="form-control-file" name="image" id="checkPersonImage" (change)="changeImageFile($event)" ngModel>
            <br/><button type="submit" class="btn btn-primary" (click)="checkImage()">Check</button>
        </div>
        <div class="col">
            <img [src]="image" alt="" >
        </div>  
    </div>       
    <div class="row">
        <div class="col">        
            <app-check-result-card [person]="person" [image]="bestMatch" *ngIf="isAvailable"></app-check-result-card>
        </div>
    </div>
</div>







