<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <form #searchPerson = "ngForm" (ngSubmit) = "searchPeople(searchPerson.value)">
                <div class="input-group">
                    <input type="text" class="form-control" name="search" placeholder="Search" ngModel>
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Search</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col mx-auto" *ngFor="let person of persons">
            <app-person-card [person]="person" ></app-person-card>
        </div>
    </div>
</div>