<table datatable class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Source URL</th>
        <th>Upload Date</th>
        <th>Person ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Gender</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let image of images">
        <td>{{ image.id }}</td>
        <td>{{ image.url }}</td>
        <td>{{ image.uploadDate }}</td>
        <td>{{ image.person.personId }}</td>
        <td>{{ image.person.name }}</td>
        <td>{{ image.person.surname }}</td>
        <td>{{ image.person.gender }}</td>
        <td>{{ image.person.age }}</td>
      </tr>
    </tbody>
</table>